.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  cursor: pointer;
  margin-left: 40px;
}

.controls {
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  align-content: center;
  /* border: 1px solid blue; */
}

.controlButton {
  border: 2px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 35px;
  -webkit-box-shadow: -9px 10px 16px -6px rgba(18, 16, 18, 1);
  -moz-box-shadow: -9px 10px 16px -6px rgba(18, 16, 18, 1);
  box-shadow: -9px 10px 16px -6px rgba(18, 16, 18, 1);
}

.controlButton:hover {
  color: #fff;
  background: #000;
}

.gameInfo {
  margin-left: 40px;
}
